node.json
[{"id":"5daff7af.4e1268","type":"tab","label":"Consumer Assistant","disabled":false,"info":""},{"id":"5057220.885a4e","type":"debug","z":"5daff7af.4e1268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":315,"y":300,"wires":[],"l":false},{"id":"f19013e.ce490f","type":"ui_form","z":"5daff7af.4e1268","name":"","label":"","group":"50f2c14a.9081c","order":0,"width":0,"height":0,"options":[{"label":"Enter you query here","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":260,"wires":[["9dac856a.fab1b8"]],"l":false},{"id":"9dac856a.fab1b8","type":"function","z":"5daff7af.4e1268","name":"","func":"msg.payload = msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":100,"wires":[["5057220.885a4e","75ead205.5cc9cc"]],"l":false},{"id":"8bc91086.251d7","type":"debug","z":"5daff7af.4e1268","name":"Function op","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":220,"wires":[],"l":false},{"id":"c283528b.473e8","type":"function","z":"5daff7af.4e1268","name":"","func":"msg.payload.text = \"\";\n\nif(msg.payload.context.webhook_result_1)\n{\n\tmsg.payload = \"Bot: \" + msg.payload.context.webhook_result_1.results[0].text\n}\n\nelse\n\tmsg.payload = \"Bot: \" + msg.payload.output.text[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":180,"wires":[["8bc91086.251d7","6fde6c65.b9f514"]],"l":false},{"id":"6fde6c65.b9f514","type":"ui_text","z":"5daff7af.4e1268","group":"50f2c14a.9081c","order":0,"width":"12","height":"10","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":700,"y":360,"wires":[],"l":false},{"id":"75ead205.5cc9cc","type":"watson-conversation-v1","z":"5daff7af.4e1268","name":"","workspaceid":"84f47bfb-a756-4156-a90d-769617fcdde5","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6c0d1561-e7c5-454b-85f0-ed7db26a4476","timeout":"","optout-learning":false,"x":448.79998779296875,"y":70,"wires":[["c283528b.473e8","ec806e3c.f5f78"]],"l":false},{"id":"ec806e3c.f5f78","type":"debug","z":"5daff7af.4e1268","name":"Assistant op","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":647.8751831054688,"y":40.76439666748047,"wires":[],"l":false},{"id":"50f2c14a.9081c","type":"ui_group","z":"","name":"Bot Reply","tab":"44ca5d38.e18144","order":2,"disp":true,"width":"12","collapse":false},{"id":"44ca5d38.e18144","type":"ui_tab","z":"","name":"Customer HelpDesk","icon":"dashboard","disabled":false,"hidden":false}]